@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

.bg-img {
  @apply bg-[url('.\assets\bgImg.jpg')] bg-cover bg-center bg-no-repeat;
}

.signInBody {
  height: 100vh;
}

.signInCard {
  border-radius: 25px;
  padding: 50px 30px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fadeIn 0.7s ease-in-out forwards;
}

.div-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loginLogo {
  background-color: #e8ecf0;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.SignInTxt {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.SignInP {
  font-size: 13px;
  line-height: 16px;
  margin-top: 5px;
  color: #61656e;
}

.div-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.inputStyle {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 350px;
  height: 50px;
  background-color: #e8ecf0;
  padding: 0px 5px 0px 10px;
  gap: 7px;
}

.input {
  background: transparent;
  display: flex;
  flex: 1;
  height: 100%;
  font-size: 16px;
  outline: none;
  color: #7a7f8d;
}

.F-pass {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.creatMyAcc {
  width: 100%;
  margin-top: 15px;
}

.button {
  width: 100%;
  background-color: rgb(46, 46, 46);
  color: white;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.button:hover {
  transform: scale(1.03);
}

.HaveAnAccount {
  display: flex;
  flex-direction: column;
}

.textSpan {
  font-size: 15px;
}

.error {
  width: 100%;
  margin-top: -10px;
  padding-left: 2px;
  font-size: 14px;
  color: rgb(223, 99, 99);
}

/* media query */

/* smartphone 480px */

@media (max-width: 480px) {
  body {
    background-position: 55% center;
  }

  .signInCard {
    padding: 30px 20px;
    margin-top: -90px;
  }

  .SignInTxt {
    font-size: 23px;
  }

  .SignInP {
    font-size: 12px;
    line-height: 14px;
  }

  .inputStyle {
    width: 300px;
    height: 40px;
  }

  input {
    font-size: 15px;
  }

  .F-pass {
    font-size: 12px;
    transition: transform 0.1s ease-in-out;
  }

  .F-pass:active {
    transform: scale(0.95);
  }

  .button {
    padding: 6px;
    font-size: 15px;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  }

  button:active {
    transform: scale(0.95);
  }

  .loginLogo {
    padding: 10px;
    border-radius: 10px;
  }

  .textSpan {
    font-size: 14px;
  }
}

/* smartphone 375px */

@media (max-width: 375px) {
  body {
    background-position: 55% center;
  }

  .error {
    font-size: 13px;
    padding-left: 10px;
  }

  .signInCard {
    padding: 25px 15px;
    margin-top: -70px;
  }

  .SignInTxt {
    font-size: 20px;
  }

  .SignInP {
    font-size: 11px;
    line-height: 13px;
  }

  .inputStyle {
    width: 280px;
    height: 35px;
  }

  input {
    font-size: 13px;
  }

  .F-pass {
    font-size: 11px;
  }

  .button {
    padding: 5px;
    font-size: 13px;
  }

  .loginLogo {
    padding: 8px;
    border-radius: 8px;
  }

  .textSpan {
    font-size: 13px;
  }
}

/* smartphone 320px */

@media (max-width: 320px) {
  .signInCard {
    padding: 20px 15px;
    margin-top: 0;
  }

  .SignInTxt {
    font-size: 20px;
  }

  .SignInP {
    font-size: 12px;
    line-height: 13px;
  }

  .inputStyle {
    width: 250px;
    height: 40px;
    padding: 0 8px;
  }

  input {
    font-size: 12px;
  }

  .F-pass {
    font-size: 10px;
  }

  .button {
    padding: 7px;
    font-size: 12px;
  }

  .loginLogo {
    padding: 8px;
    border-radius: 8px;
  }

  .textSpan {
    font-size: 12px;
  }
}

/* animations  */

/* Toast animations  */
@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(-15px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes leave {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
}

.animate-enter {
  animation: enter 0.3s ease-out forwards;
}

.animate-leave {
  animation: leave 0.2s ease-in forwards;
}

/* login card animation */

.card {
  opacity: 0;
  animation: fadeIn 0.7s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
